@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:whitesmoke;
}
    /* navbar styling */
nav{
    background-color: #232f3e;
    color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:0 auto;
    padding: 18px;
}

.search-container input,button{
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.search-container input{
    border-radius: 3px 0 0 3px;
}

.search-container button{
    border-radius:0 3px 3px 0;
    background-color: #f5c518;
    cursor: pointer;
    transition: all 0.2s;
}

.search-container button:hover{
    background: whitesmoke;
}

   /* main movie section styling */

   main{
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 38px;
   }

   main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
   }

   /* footer styling */
 footer{
    text-align: center;
    background-color: #232f3e;
    color: azure;
    padding-block: 20px;
    margin-top: 40px;
    font-size: 20px;
 }
